* {
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    /* box color can be #BC4123 */
    /* optional color can be #463940 */
}

body {
    /* background-color: #0b172a; */
    background-color: #0b172a;

}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    background-color: #BC4123;
}

.sectionmain {
    margin-bottom: 20px;
    height: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    background-color: #BC4123;
}
.header h1 {
    font-size: 60px;
}

.top-section {
}

.header nav {
    margin-right: 70px;
    font-size: 20px;
    font-weight: bolder;
}

.content {
    width: 75%;
    display: flex;
    flex: auto;
    margin-left: 20px;
}

.header nav ul li {
    display: inline-block;
    margin-left: 20px;
    list-style-type: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 20px;
}

h2 {
    font-size: 50px;
}


.top-section {
    height: 500px;
    margin-bottom: 40px;
    margin-top: 40px;
    display: block;
    background-image: url("./Images/avatar.jpg");
    background-size: cover;
    background-position: center;

}

article {
    margin-top: 50px;
    padding: 20px;
}

.sectionmain img {
    height: 260px;
    width: auto;
    margin-left: auto;
    margin-bottom: auto;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 400px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}