* {
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 6px;
}

p {
    font-size: 20px;
    text-align: center;
}

body {
    background-color: #0b172a;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #e7522d;
}

.header h1 {
    font-size: 100px;
}

.header nav {
    font-size: 40px;
    font-weight: bolder;
}

.header nav ul li {
    display: inline-block;
    margin-left: 20px;
    list-style-type: none;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h2 {
    font-size: 50px;
}

article {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1 0 500px;
    align-items: center;
    align-content: space-around;
}

.sectionmain {
    font-size: 20px;
}

.sectionmain img {
    height: 330px;
}

.sectionwork img {
    height: 440px;
}

footer {
    padding: 30px;
}